@import "var.scss";

* {
   all: unset;
   transition: all 0.24s ease;
   font-family: Adwaita;
   font-weight: Bold;
}

@import "bar/bar.scss";
@import "bar/run/run.scss";
@import "bar/workspaces/workspaces.scss";
@import "bar/time/time.scss";
@import "dock/dock.scss"
@import "dock/tabs/tabs.scss"
@import "dock/space/space.scss"

