$clear: rgba(0, 0, 0, 0);
$black: #000000;
$t7black: rgba(0, 0, 0, 0.7);
$t5black: rgba(0, 0, 0, 0.5);
$t3black: rgba(0, 0, 0, 0.3);
$t1black: rgba(0, 0, 0, 0.1);
$white: #ffffff;
$t9white: rgba(255, 255, 255, 0.9);
$t7white: rgba(255, 255, 255, 0.7);
$t5white: rgba(255, 255, 255, 0.5);
$t2white: rgba(255, 255, 255, 0.2);

