.time {
  background: $t7black;
  padding: 5px;
  border: 3px solid $t7white;
  border-radius: 10px;
}

.date {
  font-family: Iosevka;
  font-size: 10pt;
  font-weight: Bold;
  color: $t9white;
}

.pipe {
  font-family: Iosevka;
  font-size: 9pt;
  font-weight: Bold;
  color: $t5white;
}

.hour {
  font-family: Iosevka;
  font-size: 10pt;
  font-weight: Bold;
  color: $t9white;
}

.colon {
  font-family: Triforce;
  font-size: 11pt;
  font-weight: Normal;
  color: $t9white;
}

.minute {
  font-family: Iosevka;
  font-size: 10pt;
  font-weight: Bold;
  color: $t9white;
}

